:root {
  --primary: rgb(0, 0, 0);
  --secondary: rgb(255, 145, 0);
}

.events {
  width: 70%;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.events-main {
  background-color: #000;
}

.inner-events {
  margin: 0px auto;
  padding: 5px;
  padding-bottom: 20px;
}

.inner-events h2 {
  color: var(--secondary);
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid rgb(255, 116, 2);
  text-transform: uppercase;
  width: 70%;
}

.summary {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.inner-events span {
  font-size: 12px;
  margin-right: 20px;
  align-items: center;
  padding-bottom: 10px;
}

.inner-events span i {
  margin: 0 5px;
}

.inner-events .text img {
  width: 150px;
}
.inner-events .text {
  width: 70%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.inner-events p {
  margin-left: 10px;
  line-height: 1.5em;
}

.btn {
  background-color: var(--secondary);
  width: 30%;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  font-weight: 500;
  box-shadow: 1px 1px 8px rgb(104, 104, 104);
  transition: color 300ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  color: #000;
}

@media (max-width: 768px) {
  .events-main {
    width: 100vw;
    background-color: #000;
  }

  .events {
    width: 100vw;
    color: rgb(255, 255, 255);
  }
  .events h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  .inner-events h2 {
    width: 100%;
    text-align: center;
    
  }
  .inner-events{
      width:100%;
      height: auto;

  }
  .inner-events .text img {
    width: 100px;
  }
  .inner-events .text {
   
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    padding: 5px;
  }
  
  .inner-events p {
    margin-left: 10px;
    line-height: 1.5em;
  }
  
  .events .btn {
    
    width: auto;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgb(104, 104, 104);
    transition: color 300ms ease-in-out;
  }
}
