
table {
    margin: 2em auto; 
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray
  }

  tr{
      text-transform: uppercase;
  }
  td, th {
    
    padding: 10px 15px;
    text-align: center;
  
  }
  th {
    background: lightblue;
    border-color: white;
  }
  
  .admin-login{
    text-align: center;
    line-height: 10px;
    padding: 30px;
  }

  

  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
 .admin-login form input {
    padding: 15px 20px;
    margin: 10px 0;
  }