.terms{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.conditions{
    box-shadow: 1px 1px 10px black ;
    border-radius: 10px;
    padding: 20px;
}

.conditions p, .disclaimer p , .privacy-policy p{
    line-height: 1.5em;
    margin-bottom: 10px;
}
.conditions ul, .privacy-policy ul {
    padding: 5px 0 5px 30px;
}

.disclaimer{
    width: 85%;
    text-align: justify;
    margin: 0 auto;
    box-shadow: 1px 1px 10px black ;
    border-radius: 10px;
    padding: 20px;
    margin-top: 2em;
    margin-bottom: 10px;
}

.privacy-policy{
    width: 85%;
    text-align: justify;
    margin: 0 auto;
    box-shadow: 1px 1px 10px black ;
    border-radius: 10px;
    padding: 20px;
    margin-top: 2em;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .privacy-policy, .disclaimer,.terms {
      width: 95%;
      margin-top: 1em;
    }
  }
  